
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.skills li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.skills li:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skills .title,
.skills li .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #333;
}
.tools-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.tools-list li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools-list li img {
    width: 4rem; /* Ajuste o tamanho conforme necessário */
    height: 4.3rem; /* Ajuste o tamanho conforme necessário */
}

